body {
    background-color: hsla(0, 0%, 5%, 0.95);
}

.bg-w-img{
    background:
    linear-gradient(rgba(14, 14, 14, 0.7), rgba(14, 14, 14, 0.7)),
     url('/game-vault/assets/images/login_background--test.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}