@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../abstracts/global';

// REGISTER PAGE

.bg-w-img {
  background:
    linear-gradient(rgb(11, 11, 11), rgba(9, 9, 13, 0.7), rgb(11, 11, 11)),
    url('/game-vault/assets/resources/images/bg.webp');
  background-size: cover;
  background-position: center center;
}

.form-control {
  background-color: map-get($theme-colors, 'secondary-vault');
  border: 1px solid map-get($theme-colors, 'secondary-vault');
  color: #e7e5e4;
  padding: 0.75rem 1rem;
}
h2 {
  font-size: var(--step-2);
}

h1 {
  font-size: var(--step-4);
}

.form-control::placeholder {
  color: map-get($theme-colors, 'secondary-vault');
  opacity: 1;
}

.form-control:focus {
  border-color: map-get($theme-colors, 'ultraviolet');
  box-shadow: 0 0 0 0.2rem rgba(157, 80, 187, 0.25);
}

.form-check-input:checked {
  background-color: map-get($theme-colors, 'ultraviolet');
  border-color: map-get($theme-colors, 'ultraviolet');
}

.password-strength {
  font-size: 0.9rem;
}

.password-strength.fraca {
  color: red;
}

.password-strength.media {
  color: orange;
}

.password-strength.forte {
  color: green;
}
